*{ 
    margin:0; 
    padding:0; 
    box-sizing:border-box;
}
.header-image{
     background-image:url(../images/Green-Plastic-Moving-Boxes8.jpg);
    background-repeat: no-repeat;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
    height: 700px;;
    width: auto;
}
body{
    background-color: #f4f8ff;
}
h1, h2, h3, h4, p{
    font-family: 'Open Sans:600', sans-serif;
}
h1{}
h2{
    font-size: 2em;
    align-content: center;
}

#heading1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 70px;
    padding-bottom: 50px;
}
p{
    max-width: 70%;
    font-size: 1.5em;
    align-content: center;
    margin: 0 auto;
    padding-bottom: 100px;
}
#last{
    height: 400px;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content:space-around;
    margin: 0 auto;
}

#why{
    height: 600px;
    width: 100%;
    background-color: #29b887;
    display: flex;
    justify-content:space-around;
    margin: 0 auto;
}

#why .icons img{
    width: 120px;
    height: auto;
    padding-top: 100px;
}

#why .icons p{
    color: white;
    font-size:.7em;
    padding: 50px 0 0 0;
    z-index: 100;
    width: 170px;
    height: auto
}