*{ 
    margin:0; 
    padding:0; 
    box-sizing:border-box;
}
.header-image{
     background-image:url(../images/frogbox.jpeg);
    background-repeat: no-repeat;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
    height: 600px;;
    width: auto;
    transition-delay: 2s;
}

.header-image-2{
    background-image:url(../images/leone-venter-469710.jpg);
    background-repeat: no-repeat;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
    height: 400px;;
    width: auto;
}

.header-image-3{
    background-image:url(../images/jerry-kiesewetter-extraWhite.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
    height: 400px;;
    width: auto;
}
body{
    background-color: #fff/*#f4f8ff*/;
}
h1, h2, h3, h4, p, a{
    font-family: 'Open Sans:600', sans-serif;
}
h1{
    font-size: 5em;
    text-align: center;
    padding-top: 150px;
    color: #3d3d5c/*#29b887*/;
    
}
h2{
    font-size: 3em;
    align-content: center;
}

#heading1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 70px;
    padding-bottom: 50px;
}

.last{
    height: 500px;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content:center;
    flex-direction: column;
    margin: 0 auto;
}
.foot{
    height: 100px;
    width: 100%;
    background-color: #3d3d5c;
    display: flex;
    justify-content:space-around;
    margin: 0 auto;
}
#intro{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    max-width: 80%;
    margin: 0 auto;
    height: 475px;
}
/*INTRO*/
#intro img{
    width: 300px;
    height: 400px;
}

#intro p{
    max-width: 600px;
    font-size: 1.3em;
    margin: 0 auto;
    padding-bottom: 20px;
    line-height: 1.6em;
    color: #898989;
}

/*Services*/

#why{
    background-color: #29b887;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding-top: 50px;
}

#why img{
    height: 150px;
    width: 150px;
 
}
#why p{
    width: 170px;
    padding-top: 50px;
    padding-bottom: 50px;
}


/*#why .icons img{
    width: 20%;
    height: auto;
    padding-top: 50px;
   align-content: center;
}
*/
.icons{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
}

#why .icons p{
    color: white;
    font-size: 1.2em;
    line-height: 1.4em;
    z-index: 100;
    text-align: center;
}

.last p{
    max-width: 65%;
    font-size: 2.4em;
    margin: 0 auto;
    padding-bottom: 20px;
    padding-top: 40px;
    text-align: center;
    line-height: 2em;
}

.last a{
    background-color: #29b887;
    text-decoration: none;
    border-radius: 30px;
    padding: 1.2em;
    width: 225px;
    display: -webkit-inline-flex;
    justify-content: space-around;
    color: white;
    margin: 0 auto;
}
.last a:hover{
    opacity: 0.7;
    transition: 0.5s ease;
}

#goTop{
    float: right;
    width: 50px;
	height: 50px;
	background: #3d3d5c;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 250;
    opacity: 0.4;
}
#goTop:hover{
    opacity: 0.8;
    transition: 0.5s ease;
}
hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}
i{
    border: solid #fff;
    border-width: 0 3px 3px 0;
    margin: 0;
    position: relative;
    bottom: 33px;
    right: 36px;
    display: inline-block;
    padding: 8px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    position: inherit;
    z-index: 251;
}

#wBuy{
    background-color: #29b887;
    text-decoration: none;
    border-radius: 30px;
    padding: 1.2em;
    width: 225px;
    display: -webkit-inline-flex;
    justify-content: space-around;
    color: white;
    margin: 0 auto;
}

#wBuy:hover{
    opacity: 0.7;
    transition: 0.5s ease;
}

#pButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px 0 50px 0;
}

#pOptions-Container{
    padding-top: 75px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: wrap;
    max-width: 80%;
    margin: 0 auto;
}
.priceOptions{
    width: 300px;
    height: 400px;
    background-color: white;
    /*background-color: #29b887;*/
    color: white;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
    -webkit-box-shadow: 0px 7px 45px -5px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 7px 45px -5px rgba(0,0,0,0.55);
    box-shadow: 0px 7px 45px -5px rgba(0,0,0,0.55);
}

.priceOptions div{
    background-color: #29b887;
    height: 125px;
    border-radius: 10px 10px 0 0;
}
.priceOptions h2{
    padding-top: 30px;
    font-size: 4em;
}

.priceOptions p{
    width: 80%;
    margin: 0 auto;
    font-size: 1.5em;
    padding-top: 20px;
    padding-bottom: 15px;
    color: #6c6c6d;
}

.priceOptions p:not(:last-child){
	border: 1px solid rgb(242, 242, 242);
	border-top: 0;
	border-left: 0;
	border-right: 0;
}

#pricing-intro{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:35px;
    line-height: 50px;
    padding-top: 75px;
    color:#6c6c6d;
    margin: 0 auto;
    text-align: center;
    width: 75%;
}

/*Form!*/
#form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
}

form{
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
}

/*.eSend{
    background-color: #29b887;
    text-decoration: none;
    text-align: center;
    border-radius: 30px;
    width: 90px;
    border:0 none;
    display: -webkit-inline-flex;
    color: white;
    margin: 0 auto;
}

.eSend:hover{
    opacity: 0.7;
    transition: 0.5s ease;
}*/
#fom-intro{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:35px;
    padding-top: 50px;
    color:#6c6c6d;
    margin: 0 auto;
    text-align: center;
}

input[type=submit]{
    padding:5px 15px; 
    background:#29b887; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: white;
    margin: 0 auto;
}

input[type=submit]:hover{
    opacity: 0.7;
    transition: 0.5s ease;
}

form input{
    height: 45px;
    border: 1px solid rgba(255,255,255,.4);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; 
    display:block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    color:#fff;
    padding-left:20px;
    padding-right:20px;
    margin-bottom:20px;
    color:#6f6f70;
}

form textarea{
    /*width: 700px;*/
    height: 400px;
    border: 1px solid rgba(255,255,255,.4);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; 
    display:block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    color:#fff;
    padding-left:20px;
    padding-right:20px;
    margin-bottom:20px;
    color:#6f6f70;
}
input, textarea{
    width: 800px !important;
}
hr{
    display: none;
}

.Footer-copyright{
    color: white;
    padding-top: 44px;
}
@media screen and (min-width: 200px) and (max-width:1100px){
#pOptions-Container{
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    flex-wrap: wrap;
    max-width: 80%;
    height: 1500px;
    margin: 0 auto;
}
.priceOptions{
    width: 80%;
    height: 400px !important;
    background-color: white;
    
    /*background-color: #29b887;*/
    color: white;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
    -webkit-box-shadow: 0px 7px 45px -5px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 7px 45px -5px rgba(0,0,0,0.55);
    box-shadow: 0px 7px 45px -5px rgba(0,0,0,0.55);
}
}
@media screen and (min-width: 901px) and (max-width: 1125px){
#intro img{
    display: none;
}     
}
@media screen and (min-width: 700px) and (max-width: 900px){
 .header-image{
    background-image:url(../images/frogbox.jpeg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 400px;;
    width: auto;
}
#intro{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    max-width: 80%;
    margin: 0 auto;
    height: 600px;
}

input, textarea{
    width: 600px !important;
}
#intro img{
    display: none;
}   
#fom-intro{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:24px;
    padding-top: 50px;
    color:#6c6c6d;
    margin: 0 auto;
    text-align: center;
} 
 
}
@media screen and (min-width: 500px) and (max-width: 699px){
.header-image{
    background-image:url(../images/frogbox.jpeg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 400px;;
    width: auto;
}
#intro{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    max-width: 80%;
    margin: 0 auto;
    height: 600px;
}    
#heading1 h2{
    font-size: 1.75em;    
}
input, textarea{
    width: 400px !important;
}
#intro img{
    display: none;
}
#fom-intro{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:20px;
    padding-top: 50px;
    color:#6c6c6d;
    margin: 0 auto;
    text-align: center;
}
/*#pOptions-Container{
height: 1200px;        
}
.priceOptions{
 width: 100%;
 height: 300px;
} 
.priceOptions h2{
 color: #29b887;       
} */   
}
@media screen and (min-width:280px) and (max-width:680px){
    .icons{
        margin: 0 auto;
        justify-content: center;
    }
    
#why{
    background-color: #29b887;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-top: 50px;
}
}
@media screen and (min-width: 300px) and (max-width: 499px){
 .header-image{
    background-image:url(../images/frogbox.jpeg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 250px;;
    width: auto;
}
#intro{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    max-width: 80%;
    margin: 0 auto;
    height: 675px;
}

#intro img{
    display: none;
} 
    
#heading1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
}  

#heading1 h2{
    font-size: 1.5em;    
}  
   
.last{
    height: 700px;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content:center;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}
input, textarea{
    width: 300px !important;
} 
#fom-intro{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:16px;
    padding-top: 50px;
    color:#6c6c6d;
    margin: 0 auto;
    text-align: center;
}     
}
@media screen and (min-width: 200px) and (max-width: 299px){
.header-image{
    background-image:url(../images/frogbox.jpeg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 250px;;
    width: auto;
}
#intro{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    max-width: 80%;
    margin: 0 auto;
    height: 700px;
}

#intro img{
    display: none;
} 
    
#heading1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
}  

#heading1 h2{
    font-size: 1.5em;    
}  
   
.last{
    height: 700px;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content:center;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}
input, textarea{
    width: 200px !important;
} 
#fom-intro{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:16px;
    padding-top: 50px;
    color:#6c6c6d;
    margin: 0 auto;
    text-align: center;
}      
}