*{ 
    margin:0; 
    padding:0; 
    box-sizing:border-box;
}
.header-image{
     background-image:url(../images/frogbox.jpeg);
    background-repeat: no-repeat;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
    height: 700px;;
    width: auto;
}
body{
    background-color: #f4f8ff;
}
h1, h2, h3, h4, p{
    font-family: 'Open Sans:600', sans-serif;
}
h1{}
h2{
    font-size: 3em;
    align-content: center;
}

#heading1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 70px;
    padding-bottom: 50px;
}

#last{
    height: 500px;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content:center;
    flex-direction: column;
    margin: 0 auto;
}
#foot{
    height: 100px;
    width: 100%;
    background-color: #3d3d5c;
    display: flex;
    justify-content:space-around;
    margin: 0 auto;
}
#intro{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    max-width: 80%;
    margin: 0 auto;
    height: 600px;
}
/*INTRO*/
#intro img{
    width: 300px;
    height: 400px;
}

#intro p{
    max-width: 600px;
    font-size: 1.3em;
    margin: 0 auto;
    padding-bottom: 20px;
    line-height: 1.6em;
}

/*Services*/

#why{
    background-color: #29b887;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding-top: 50px;
}

#why img{
    height: 150px;
    width: 150px;
 
}
#why p{
    width: 170px;
    padding-top: 50px;
    padding-bottom: 50px;
}


/*#why .icons img{
    width: 20%;
    height: auto;
    padding-top: 50px;
   align-content: center;
}
*/
.icons{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
}

#why .icons p{
    color: white;
    font-size: 1em;
    z-index: 100;
}

#last p{
    max-width: 65%;
    font-size: 1.3em;
    margin: 0 auto;
    padding-bottom: 20px;
    padding-top: 40px;
    line-height: 1.6em;
}

#last a{
    background-color: #29b887;
    text-decoration: none;
    border-radius: 30px;
    padding: 1.2em;
    width: 225px;
    display: -webkit-inline-flex;
    justify-content: space-around;
    color: white;
    margin: 0 auto;
}
#last a:hover{
    opacity: 0.7;
    transition: 0.5s ease;
}